.breadcrumb a,
.c-body,
.comment-form a,
.comment-form label,
.comment-metadata,
.comment-metadata a,
.elementor-nav-menu--dropdown a,
.elementor-search-form--skin-minimal .elementor-search-form__icon,
.elementor-widget-opal-testimonials .layout_2 .elementor-testimonial-content,
.mainmenu-container li a span,
.site-footer a,
.site-header-account .account-dashboard li a,
.site-header-account .account-links-menu li a,
.widget .tagcloud a,
.widget.widget_tag_cloud a,
.widget_archive a:not(:hover),
.widget_categories a:not(:hover),
.widget_layered_nav_filters a:not(:hover),
.widget_layered_nav a:not(:hover),
.widget_links a:not(:hover),
.widget_meta a:not(:hover),
.widget_nav_menu a:not(:hover),
.widget_pages a:not(:hover),
.widget_product_categories a:not(:hover),
.widget_recent_entries a:not(:hover),
input[type="color"],
input[type="color"]::placeholder,
input[type="date"],
input[type="date"]::placeholder,
input[type="datetime-local"],
input[type="datetime-local"]::placeholder,
input[type="datetime"],
input[type="datetime"]::placeholder,
input[type="email"],
input[type="email"]::placeholder,
input[type="month"],
input[type="month"]::placeholder,
input[type="number"],
input[type="number"]::placeholder,
input[type="password"],
input[type="password"]::placeholder,
input[type="range"],
input[type="range"]::placeholder,
input[type="search"],
input[type="search"]::placeholder,
input[type="tel"],
input[type="tel"]::placeholder,
input[type="text"],
input[type="text"]::placeholder,
input[type="time"],
input[type="time"]::placeholder,
input[type="url"],
input[type="url"]::placeholder,
input[type="week"],
input[type="week"]::placeholder,
textarea,
textarea::placeholder {
  color: #666;
}

.author-wrapper .author-name,
.breadcrumb,
.btn-link,
.button-link,
.c-heading,
.column-item .entry-header .entry-title,
.comment-author,
.comment-author a,
.comment-content dt,
.comment-content strong,
.comment-content table td a,
.comment-content table th,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
.comment-respond .comment-reply-title,
.comments-title,
.contactform-content .form-title,
.contactform-content button.mfp-close,
.elementor-button-default .elementor-button,
.elementor-element .elementor-button-link .elementor-button,
.elementor-element .elementor-widget-wp-widget-recent-posts .title-post a,
.elementor-featured-box-wrapper .elementor-featured-box-title,
.elementor-price-table__currency,
.elementor-price-table__integer-part,
.elementor-progress-percentage,
.elementor-teams-wrapper .elementor-team-name:not(:hover),
.elementor-widget-icon-box:not(:hover) .elementor-icon-box-title,
.elementor-widget-opal-contactform7 .form-title,
.elementor-widget-progress .elementor-title,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:not(:hover) .elementor-icon-list-text,
.entry-content blockquote cite a,
.entry-content dt,
.entry-content dt a,
.entry-content strong,
.entry-content th,
.entry-content th a,
.entry-header .entry-title,
.entry-meta .author a:not(:hover),
.error404 .error-btn-bh,
.error404 .error-text,
.main-navigation .top-menu > li > a,
.main-navigation:not(.navigation-dark) .top-menu > li > a,
.mainmenu-container ul ul .menu-item > a:active,
.mainmenu-container ul ul .menu-item > a:focus,
.mainmenu-container ul ul .menu-item > a:hover,
.opal-h1,
.opal-h2,
.opal-h3,
.opal-h4,
.opal-h5,
.opal-h6,
.page-title-bar .page-title,
.related-posts .related-heading,
.search .site-content .page-title,
.single .navigation .nav-link a,
.site-header-account .login-form-title,
.widget-area strong,
a,
blockquote,
fieldset legend,
h1,
h2,
h2.widget-title,
h2.widgettitle,
h3,
h4,
h5,
h6,
th {
  color: #000;
}

.author-wrapper .author-name h6,
.button-outline-secondary,
.c-secondary,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.error404 .sub-h2-2,
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"] {
  color: #383838;
}

.f-secondary {
  fill: #383838;
}

#secondary .elementor-widget-wp-widget-categories a:before,
.bg-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.e--pointer-dot .elementor-item:before,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-flip-box__back,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button.active,
.mailchimp-button-outline_secondary button:active,
.mailchimp-button-outline_secondary button:hover,
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #383838;
}

.b-secondary,
.button-outline-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.form-control:focus,
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  border-color: #383838;
}

#secondary .elementor-widget-container h5:first-of-type,
#secondary .elementor-widget-wp-widget-recent-posts a,
.breadcrumb a:hover,
.breadcrumb a:hover span,
.button-outline-primary,
.c-primary,
.cat-links a,
.cat-tags-links .tags-links a:focus,
.cat-tags-links .tags-links a:hover,
.comment-author a:hover,
.comment-form a:hover,
.comment-metadata a:hover,
.elementor-accordion .elementor-tab-title.elementor-active i,
.elementor-element .elementor-button-light .elementor-button-icon,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-widget-wp-widget-recent-posts .title-post a:hover,
.elementor-featured-box-wrapper i,
.elementor-nav-menu--dropdown:not(.mega-menu) a.has-submenu,
.elementor-nav-menu--dropdown:not(.mega-menu) a.highlighted,
.elementor-nav-menu--dropdown:not(.mega-menu) a:hover,
.elementor-nav-menu--main .current-menu-ancestor .elementor-item.has-submenu,
.elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-nav-menu--main .elementor-item.highlighted,
.elementor-nav-menu--main .elementor-item:focus,
.elementor-nav-menu--main .elementor-item:hover,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal .elementor-nav-menu a.elementor-sub-item.elementor-item-active,
.elementor-nav-menu--popup .elementor-item.elementor-item-active,
.elementor-nav-menu--popup .elementor-item.highlighted,
.elementor-nav-menu--popup .elementor-item:focus,
.elementor-nav-menu--popup .elementor-item:hover,
.elementor-nav-menu--popup .elementor-nav-menu--dropdown a.highlighted,
.elementor-nav-menu--popup .elementor-nav-menu--dropdown a:hover,
.elementor-nav-menu-popup .mfp-close,
.elementor-phone-link:hover .elementor-phone-number,
.elementor-phone-link:hover i,
.elementor-phone-link:not(:hover) .elementor-phone-number,
.elementor-phone-link:not(:hover) i,
.elementor-portfolio-style-overlay .portfolio .portfolio-content .entry-category a:hover,
.elementor-portfolio-style-overlay .portfolio .portfolio-content .entry-title a:hover,
.elementor-portfolio__filter:hover,
.elementor-search-form--skin-full_screen .elementor-search-form__toggle:hover,
.elementor-search-form .elementor-search-form__submit:hover,
.elementor-teams-wrapper .elementor-team-contact:hover,
.elementor-teams-wrapper .elementor-team-contact i,
.elementor-teams-wrapper .elementor-team-name:hover,
.elementor-teams-wrapper .elementor-team-phone:hover,
.elementor-teams-wrapper .elementor-team-phone i,
.elementor-video-popup:hover .elementor-video-icon,
.elementor-widget-heading .sub-title,
.elementor-widget-icon-box.elementor-view-default:not(:hover) .elementor-icon,
.elementor-widget-icon-box.elementor-view-framed:not(:hover) .elementor-icon,
.elementor-widget-icon-box.elementor-view-stacked:hover .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon,
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-opal-countdown .elementor-countdown-digits,
.elementor-widget-opal-image-hotspots .elementor-accordion .elementor-tab-title.elementor-active:before,
.elementor-widget-text-editor a:hover,
.elementor-widget-text-editor a:not(:hover),
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:hover .elementor-icon-list-text,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:hover i,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:not(:hover) i,
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.entry-content blockquote cite a:hover,
.entry-header .entry-title a:hover,
.entry-meta .cat-links a,
.error404 .error-404-bkg,
.error404 .error-btn-bh a,
.error404 .sub-h2-1,
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button[type="submit"],
.mainmenu-container .menu-item > a:hover,
.mainmenu-container li.current-menu-parent > a,
.menu-toggle,
.more-link,
.navigation-button .menu-toggle:focus,
.navigation-button .menu-toggle:hover,
.pbr-social-share a:hover,
.portfolio .entry-category a:hover,
.portfolio .portfolio-content .entry-title a:hover,
.post-style-2 .column-item .post-inner:hover .entry-title a,
.single-portfolio-navigation .nav-link:hover span,
.single .navigation > div:hover,
.single .navigation > div:hover .nav-title,
.single .navigation > div:hover a,
.single .navigation > div:hover b,
.site-header-account .account-dashboard li a:hover,
.site-header-account .account-dropdown a.lostpass-link,
.site-header-account .account-dropdown a.register-link,
.site-header-account .account-links-menu li a:hover,
.site-header-account > a:hover .text-account,
.site-header-account > a:hover i,
.site-header .header-group .search-submit:focus,
.site-header .header-group .search-submit:hover,
.title-with-icon:before,
.widget .tagcloud a:focus,
.widget .tagcloud a:hover,
.widget.widget_tag_cloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget_recent_entries li a:active,
.widget_recent_entries li a:hover,
.widget_search button[type="submit"],
.wp_widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
blockquote:before {
  color: #f1ca31;
}

.f-primary {
  fill: #f1ca31;
}

#secondary .widget_product_categories ul.product-categories > li > a:before,
.bg-primary,
.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.comment-form .form-submit input[type="submit"],
.comments-link span,
.contactform-content,
.element-floor_style_2 .element-floor-plans-wrapper .element-floor-image:before,
.elementor-button-default .elementor-button:hover,
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-flip-box__front,
.elementor-nav-menu--dropdown:not(.mega-menu) a:before,
.elementor-nav-menu--main.e--pointer-dot .elementor-item.elementor-item-active:before,
.elementor-nav-menu--main.e--pointer-dot .elementor-item:hover:before,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal:not(.e--pointer-framed) .elementor-nav-menu > li.current-menu-parent > a:after,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal:not(.e--pointer-framed) .elementor-nav-menu > li.current-menu-parent > a:before,
.elementor-nav-menu--main.elementor-nav-menu--layout-vertical-absolute .vertical-heading,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-nav-menu--popup.e--pointer-dot .elementor-item.elementor-item-active:before,
.elementor-nav-menu--popup.e--pointer-dot .elementor-item:hover:before,
.elementor-teams-wrapper .team-icon-socials a:hover,
.elementor-timeline-carousel .timeline-carosuel-item.timeline-item-activate .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item:hover .timeline-number,
.elementor-timeline-view-vertical .timeline-number,
.elementor-widget-divider .elementor-divider-separator:before,
.elementor-widget-heading .decor:after,
.elementor-widget-heading .decor:before,
.elementor-widget-heading .dot,
.elementor-widget-icon-box.elementor-view-stacked:not(:hover) .elementor-icon,
.elementor-widget-icon-box:hover .elementor-icon-box-wrapper,
.elementor-widget-icon.elementor-view-stacked .elementor-icon,
.elementor-widget-opal-contactform7 .decor:after,
.elementor-widget-opal-contactform7 .decor:before,
.elementor-widget-opal-contactform7 .dot,
.elementor-widget-opal-image-gallery .elementor-button,
.elementor-widget-opal-image-gallery .elementor-galerry__filter.elementor-active,
.elementor-widget-opal-image-gallery .elementor-galerry__filter:hover,
.elementor-widget-opal-image-gallery .gallery-item-overlay:before,
.elementor-widget-opal-image-hotspots .scrollbar-inner > .scroll-element .scroll-bar,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.mp-level::-webkit-scrollbar-thumb,
.opal-image-hotspots-main-icons .opal-image-hotspots-icon,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:hover,
.owl-theme .products .owl-nav [class*="owl-"]:hover,
.page-links > .page-number,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.page-numbers.current:not(ul):not(.dots),
.page-numbers:not(ul):not(.dots):focus,
.page-numbers:not(ul):not(.dots):hover,
.page .edit-link a.post-edit-link,
.scrollup,
.show > .button-outline-primary.dropdown-toggle,
.single-portfolio-summary .pbr-social-share a:hover,
.timeline-item .timeline-number,
.widget_archive a:before,
.widget_archive a:hover:before,
.widget_categories a:before,
.widget_categories a:hover:before,
.widget_meta a:before,
.widget_meta a:hover:before,
.widget_pages a:before,
.widget_pages a:hover:before,
.wp_widget_tag_cloud a:focus:before,
.wp_widget_tag_cloud a:hover:before,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #f1ca31;
}

#secondary .widget_product_categories ul.product-categories,
.b-primary,
.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-outline-primary,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.button-secondary,
.cat-tags-links .tags-links a:focus,
.cat-tags-links .tags-links a:hover,
.comment-form .form-submit input[type="submit"],
.e--pointer-framed .elementor-item.elementor-item-active:after,
.e--pointer-framed .elementor-item.elementor-item-active:before,
.e--pointer-framed .elementor-item:after,
.e--pointer-framed .elementor-item:before,
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-nav-menu--main .elementor-nav-menu ul,
.elementor-nav-menu--main > .elementor-nav-menu,
.elementor-search-form--skin-full_screen .elementor-search-form__toggle:hover,
.elementor-search-form__container:not(.elementor-search-form--full-screen),
.elementor-timeline-carousel .timeline-carosuel-item.timeline-item-activate .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item:hover .timeline-number,
.elementor-widget-icon-box.elementor-view-framed:not(:hover) .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon,
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-opal-image-gallery .elementor-button,
.elementor-widget-text-editor a:hover,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.mailchimp-button-outline_primary button[type="submit"],
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.mega-menu-item,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:hover,
.owl-theme .products .owl-nav [class*="owl-"]:hover,
.page .edit-link a.post-edit-link,
.scrollup,
.secondary-button .search-submit,
.show > .button-outline-primary.dropdown-toggle,
.site-header-account .account-dropdown .account-wrap,
.widget .tagcloud a:focus,
.widget .tagcloud a:hover,
.widget.widget_tag_cloud a:focus,
.widget.widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:focus:after,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:hover:after,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="range"]:focus,
input[type="reset"],
input[type="search"]:focus,
input[type="submit"],
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
  border-color: #f1ca31;
}

.elementor-nav-menu--layout-horizontal .elementor-nav-menu li.has-mega-menu:before,
.elementor-nav-menu--layout-horizontal .elementor-nav-menu li.menu-item-has-children:before {
  border-bottom-color: #f1ca31;
}

.btn-link:focus,
.btn-link:hover,
.button-link:focus,
.button-link:hover,
.cat-links a:hover,
.elementor-element .elementor-button-link .elementor-button:focus,
.elementor-element .elementor-button-link .elementor-button:hover,
.entry-meta .cat-links a:hover,
.widget_search button[type="submit"]:focus,
.widget_search button[type="submit"]:hover,
a:active,
a:hover {
  color: #c8a20e;
}

.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.button-secondary.active,
.button-secondary:active,
.comment-form .form-submit .show > input.dropdown-toggle[type="submit"],
.comment-form .form-submit input.active[type="submit"],
.comment-form .form-submit input:active[type="submit"],
.comment-form .form-submit input:hover[type="submit"],
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-widget-opal-image-gallery .active.elementor-button,
.elementor-widget-opal-image-gallery .elementor-button:active,
.elementor-widget-opal-image-gallery .elementor-button:hover,
.elementor-widget-opal-image-gallery .show > .dropdown-toggle.elementor-button,
.elementor-wpcf7-button-primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary button.active[type="submit"],
.elementor-wpcf7-button-primary button:active[type="submit"],
.elementor-wpcf7-button-primary button:hover[type="submit"],
.elementor-wpcf7-button-primary input.active[type="submit"],
.elementor-wpcf7-button-primary input:active[type="submit"],
.elementor-wpcf7-button-primary input:hover[type="submit"],
.elementor-wpcf7-button-secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary button.active[type="submit"],
.elementor-wpcf7-button-secondary button:active[type="submit"],
.elementor-wpcf7-button-secondary input.active[type="submit"],
.elementor-wpcf7-button-secondary input:active[type="submit"],
.mailchimp-button-primary .show > button.dropdown-toggle,
.mailchimp-button-primary button.active,
.mailchimp-button-primary button:active,
.mailchimp-button-primary button:hover,
.mailchimp-button-secondary .show > button.dropdown-toggle,
.mailchimp-button-secondary button.active,
.mailchimp-button-secondary button:active,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-primary.dropdown-toggle,
.show > .button-secondary.dropdown-toggle,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  border-color: #c8a20e;
}

.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-primary,
.comment-form .form-submit input[type="submit"],
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-widget-opal-image-gallery .elementor-button,
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.page .edit-link a.post-edit-link,
.scrollup,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #f1ca31;
  border-color: #f1ca31;
}

.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.comment-form .form-submit .show > input.dropdown-toggle[type="submit"],
.comment-form .form-submit input.active[type="submit"],
.comment-form .form-submit input:active[type="submit"],
.comment-form .form-submit input:hover[type="submit"],
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-widget-opal-image-gallery .active.elementor-button,
.elementor-widget-opal-image-gallery .elementor-button:active,
.elementor-widget-opal-image-gallery .elementor-button:hover,
.elementor-widget-opal-image-gallery .show > .dropdown-toggle.elementor-button,
.elementor-wpcf7-button-primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary button.active[type="submit"],
.elementor-wpcf7-button-primary button:active[type="submit"],
.elementor-wpcf7-button-primary button:hover[type="submit"],
.elementor-wpcf7-button-primary input.active[type="submit"],
.elementor-wpcf7-button-primary input:active[type="submit"],
.elementor-wpcf7-button-primary input:hover[type="submit"],
.mailchimp-button-primary .show > button.dropdown-toggle,
.mailchimp-button-primary button.active,
.mailchimp-button-primary button:active,
.mailchimp-button-primary button:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.show > .button-primary.dropdown-toggle,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #c8a20e;
  border-color: #c8a20e;
}

.button-outline-primary,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button[type="submit"] {
  color: #f1ca31;
  border-color: #f1ca31;
  background-color: transparent;
}

.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.show > .button-outline-primary.dropdown-toggle {
  background-color: #f1ca31;
  border-color: #f1ca31;
  color: #fff;
}

.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-button .search-submit {
  background-color: #383838;
  border-color: #383838;
}

.button-outline-secondary,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"] {
  color: #383838;
  border-color: #383838;
  background-color: transparent;
}

.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button.active,
.mailchimp-button-outline_secondary button:active,
.mailchimp-button-outline_secondary button:hover,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #383838;
  border-color: #383838;
  color: #fff;
}

.button-secondary.active,
.button-secondary:active,
.button-secondary:hover,
.elementor-button-secondary button[type="submit"]:active,
.elementor-button-secondary button[type="submit"]:focus,
.elementor-button-secondary button[type="submit"]:hover,
.elementor-button-secondary input[type="button"]:active,
.elementor-button-secondary input[type="button"]:focus,
.elementor-button-secondary input[type="button"]:hover,
.elementor-button-secondary input[type="submit"]:active,
.elementor-button-secondary input[type="submit"]:focus,
.elementor-button-secondary input[type="submit"]:hover,
.elementor-element .elementor-button-secondary .elementor-button:active,
.elementor-element .elementor-button-secondary .elementor-button:focus,
.elementor-element .elementor-button-secondary .elementor-button:hover,
.elementor-wpcf7-button-secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary button.active[type="submit"],
.elementor-wpcf7-button-secondary button:active[type="submit"],
.elementor-wpcf7-button-secondary button:hover[type="submit"],
.elementor-wpcf7-button-secondary input.active[type="submit"],
.elementor-wpcf7-button-secondary input:active[type="submit"],
.elementor-wpcf7-button-secondary input:hover[type="submit"],
.mailchimp-button-secondary .show > button.dropdown-toggle,
.mailchimp-button-secondary button.active,
.mailchimp-button-secondary button:active,
.mailchimp-button-secondary button:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .search-submit:hover,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-secondary.dropdown-toggle {
  background-color: #121212;
  border-color: #121212;
}
